# Environment variables
.env

# Node modules
node_modules

# Lock files
package-lock.json
yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

dist

